@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .text-shadow-md {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }
  .text-shadow-lg {
    text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.8);
  }
}
body {
  font-family: "Poppins", sans-serif;
}
.slidedown {
  position: fixed;
  background: #355592;
  animation: slidedown 0.3s forwards;
  z-index: 1000; /* Navbarın diğer içeriklerin üstünde kalmasını sağlar */
}
@keyframes slidedown {
  from {
    top: -250px;
  }
  to {
    top: 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  }
}
